* {
  text-align: center;
  font-family: helvetica;
}
ul{
  list-style-type: none;
  font-size: 18px;
  color: white;
  padding-left: 0px;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 32px;
  font-weight:bold;
}
h3{
  font-size: 23px;
  font-weight:bold;
}
p{
  font-size: 14px;
}
.background {
  background-image: url("../resources/images/bck.png");
  color: white;
}
.header li {
  margin-bottom: 10px;
}
.header a{
  color: white;
}
